<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/book-detail.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('includes/header.ejs')%>
    <article >
        <% if(isAuthenticated){ %>
            <form class="img_container" action="/request-book" method="POST">
                <img class="book_image" src="<%= book.imageUrl %>">
                <input type="hidden" name="bookId" value="<%= book._id %>">
                <button class="button" type="submit">Place Request</button>
            </form>
        <% } %>    
        <% if(isAdmin) { %>
            <form class="img_container" action="/issue-book" method="POST">
                <img class="book_image" src="<%= book.imageUrl %>">
                <input type="hidden" name="bookId" value="<%= book._id %>">
                <button class="button" type="submit">Issue book</button>
            </form>
        <% } %>    
        <header>
            <h1><%= book.title %></h1>
        </header>
        <h3>By <%= book.author %></h3>
        <h4>published in <%= book.year %></h4>
        <% if(book.isAvailable) { %>
             <span class="avail">Available</span>
        <% }  else { %>
            <span class="borrowed">Borrowed</span>
        <% } %>    
        <span class="queue"><%= book.queue.users.length %> in a queue</span>
        <% if(isAdmin) { %>
            <select name="reader">
                <% for(let reader of book.queue.users ){ %>
                <option><%= reader._id %></option>
                <% } %>
            </select>
        <% } %>    
        <p><%= book.description %></p>
    </article>
</body>
</html>