<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/book-detail.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('includes/header.ejs')%>
    <article >
        <form class="img_container" action="/request-book" method="POST">
            <img class="book_image" src="/<%= book.imageUrl %>">
            <input type="hidden" name="bookId" value="<%= book._id %>">
            <% if(isAuthenticated){ %>
            <button class="button" type="submit">Place Request</button>
            <% } %> 
        </form>
    
        <% if(confirmMessage) { %>
            <div class="confirm-message" ><%= confirmMessage %></div>
        <% } else if(errorMessage) { %>
            <div class="error-message" ><%= errorMessage %></div>
        <% } %>
        <header>
            <h1><%= book.title %></h1>
        </header>
        <h3>By <%= book.author %></h3>
        <h4>published in <%= book.year %></h4>
        <% if(book.isAvailable) { %>
             <span class="avail">Available</span>
        <% }  else { %>
            <span class="borrowed">Borrowed</span>
        <% } %>    
        <span class="queue"><%= book.queue.users.length %> in a queue</span>
        <p><%= book.description %></p>

        <% if(isAdmin) { %>
            <form action="/issue-book" method="POST" class="admin-form">
                <input type="hidden" name="bookId" value="<%= book._id %>">
                <label>Enter user id or select from the drop-down menu:</label>
                <select name="reader" class="reader-queue" onchange="setUserId(event)">
                    <option value="" selected disabled hidden>Select reader from the queue</option>
                    <% for(let reader of book.queue.users ){ %>
                    <option value="<%= reader._id %>"><%= reader._id %></option>
                    <% } %>
                </select>
                <input type="text" name="userId" id="user-id" required> 
                <% if( !book.isAvailable ) { %>
                    <button class="adminBtn" disabled >Issue book</button>
                    <button class="adminBtn" disabled >Notify Reader</button>
                <% } else { %>
                    <button class="adminBtn" type="submit">Issue book</button>
                    <button class="adminBtn" type="submit" formaction="/notify-reader">Notify Reader</button>
                <% } %> 
            </form>   
            <form action="/return-book" method="POST" class="admin-form">
                <label>Currently borrowed by: </label>
                <input type="hidden" name="bookId" value="<%= book._id %>">
                <input type="text" id="borrowedBy" name="borrowedBy" value="<%= book.borrowedBy %>" readonly>
                <% if( !book.isAvailable ) { %>
                    <button class="adminBtn" type="submit">Mark as returned</button>
                <% } else { %>
                    <button class="adminBtn" disabled>Mark as returned</button>
                <% } %> 
                
            </form>
        <% } %>    
    </article>
    <script>
        function setUserId(e) {
            document.getElementById("user-id").value = e.target.value;
        }
    </script>
</body>
</html>