<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/book-detail.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('includes/header.ejs')%>
    <article >
        <div class="img_container">
            <img class="book_image" src="<%= book.imageUrl %>">
            <a class="button" href="/">Place Request</a>
        </div>
        <header>
            <h1><%= book.title %></h1>
        </header>
        <h3>By <%= book.author %></h3>
        <h4>published in <%= book.year %></h4>
        <% if(book.isAvailable) { %>
             <span class="avail">Available</span>
        <% }  else { %>
            <span class="borrowed">Borrowed</span>
        <% } %>    
        <span class="queue"><% if(book.queue) %> in a queue</span>
        <p><%= book.description %></p>
    </article>
</body>
</html>